* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: black;
    padding: 8.6rem 20rem 0;

    font-family: 'Roboto', sans-serif;
}

.hide {
    visibility: hidden;
    position: absolute;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav input {
    background-color: #06181C;
    color: white;

    width: 46rem;
    height: 4.8rem;
    border: 0;
    border-radius: 5px;
    padding: 1.6rem;
    margin-right: .8rem;
}

input::placeholder {
    color: #7C7C8A;
}

nav button {
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;

    background-color: #065E7C;

    border-radius: 5px;
    cursor: pointer;
    padding: 1.2rem 3.2rem;
    
    display: flex;
    align-items: center;
    gap: .8rem;
    justify-content: center;

    transition: all .3s;
}

nav button:hover {
    background-color: white;
    color: #065E7C;
}

svg path {
    transition: all .3s;
}

nav button:hover svg path {
    fill: #065E7C;
}

.favorites {
    margin-top: 8.7rem;
    min-height: 64.5rem;
    
    border: 1px solid #4A808C;

    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;

    background-color: rgb(13, 17, 19);
}

.favorites .noFav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 25rem;
}

.favorites .noFav img {
    width: 13.2rem;
    height: 12.5rem;
}

.favorites .noFav p {
    color: #4E5455;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 2.5rem;
}

table {
    color: #E1E1E6;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 160%;

    width: 100%;
    border-collapse: collapse;
    
}

table th {
    text-align: left;
    padding: 1.5rem 4rem;
    background: #092D38;
}

table th:first-child {
    border-top-left-radius: 1.2rem;
}

table th:last-child {
    border-top-right-radius: 1.2rem;
}

table tr {
    background: #06181C;
}

table tr:nth-child(odd) {  /* impares(odd) */
    background: #121518;
}

table td {
    padding: 1.5rem;
    text-align: left;
    height: 12rem;
    
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
    color: #E1E1E6;
}

td.user a p {
    font-weight: bold;
}

td.user a span {
    font-weight: normal;
}

td .remove {
    background: none;
    border: none;

    color: #F75A68;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 160%;

    cursor: pointer;
}
