* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: black;
    padding: 11.6rem 16rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav input {
    background-color: #06181C;
    width: 46rem;
    height: 4.8rem;
    border: 0;
    border-radius: 5px;
    padding: 1.6rem;
    margin-right: .8rem;
}

nav button {
    color: white;
    background-color: #065E7C;

    border-radius: 5px;
    cursor: pointer;
    padding: 1.2rem 3.2rem;
}