/**------------ General sets ------------**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: black;
    padding: 8.6rem 30rem 0;

    font-family: 'Roboto', sans-serif;
}

.sr-only { /*! label only for screen reader */
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.hide {  /*! hide for no favorites message*/
    visibility: hidden;
    position: absolute;
}

/**------------ header ------------**/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

header input {
    background-color: #06181C;
    color: white;

    width: clamp(20rem, 20rem + 15vw ,46rem);
    height: 4.8rem;
    border: 0;
    border-radius: 5px;
    padding: 1.6rem;
    margin-right: .8rem;
}

input::placeholder {
    color: #7C7C8A;
}

header button {
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;

    background-color: #065E7C;

    border-radius: 5px;
    cursor: pointer;
    padding: 1.2rem 3.2rem;
    
    display: flex;
    align-items: center;
    gap: .8rem;
    justify-content: center;

    transition: all .5s;
}

header button:hover {
    background-color: white;
    color: #065E7C;
}

header button span {
    font-weight: bold;
}

svg path {
    transition: all .3s;
}

header button:hover svg path {
    fill: #065E7C;
}

/**------------ body ------------**/

.favorites {
    margin-top: 8.7rem;
    height: 67rem;
    
    border: 1px solid #4A808C;

    border-radius: 1.2rem;

    background-color: rgb(13, 17, 19);

    overflow: auto;
    overflow: overlay;
    
    position: relative;
}

/**------ no favorite message ------**/

.favorites .noFav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 25rem;
}

.favorites .noFav img {
    width: 13.2rem;
    height: 12.5rem;
}

.favorites .noFav p {
    color: #4E5455;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 2.5rem;
}

/**------ table ------**/

table {
    color: #E1E1E6;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 160%;

    width: 100%;
    border-collapse: collapse;
    
    position: absolute;
}

table thead {
    position: sticky;
    top: 0;
}

table th {
    text-align: left;
    padding: 1.5rem 4rem;
    background: #092D38;
    
}

table th:first-child {
    border-top-left-radius: 1.2rem;
}

table tr {
    background: #06181C;
    border-top: 1px solid #4A808C;
}

table tr:nth-child(odd) {  /* impares(odd) */
    background: #030e10;
}

table tr:first-child {
    border: 0;
}

table td {
    padding: 1.5rem;
    text-align: left;
    height: 12rem;
    
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
    margin-left: 2rem;
}

td.user a {
    text-decoration: none;
    color: #E1E1E6;
    margin-left: 1.6rem;
}

td.user a p {
    font-weight: bold;
}

td.user a span {
    font-weight: normal;
}

.repositories, .followers {
    padding-left: 5rem;
}

td .remove {
    background: none;
    border: none;

    color: #F75A68;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 160%;

    cursor: pointer;
}

/**------ table scrollbar configuration ------**/

.favorites::-webkit-scrollbar {
    width: 22px;
    height: 22px;
    border-radius: 9999px;
}

.favorites::-webkit-scrollbar-track {
    margin-block-start: 6.2em;
}

.favorites::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: transparent;
    border-radius: 8rem;
    box-shadow: inset 0 0 0px 6px #4A808C;
    border: solid 8px transparent;
}

.favorites::-webkit-scrollbar-corner {
    background-color: transparent;
}

/**----------- Media queries -----------**/

@media (max-width: 1400px) {
    body {
        padding: 6.6rem 18rem 0;
    }
}

@media (max-width: 1200px) {
    body {
        padding: 4.6rem 12rem 0;
    }
}

@media (max-width: 1000px) {
    body {
        padding: 2.6rem 5rem 0;
    }
    table th {
        padding: 1rem 1rem;     
    }
}

@media (max-width: 850px) {
    body {
        padding: 2.6rem 1rem 0;
    }
    td.user img {
        margin-left: 0;
    }
    td.user a {

        margin-left: 0;
    }
}